{% extends "base/base.html" %} {% load static %} {% block title %}First Aid—
NigeriaSafe{% endblock %} {% block content %}
    <main class="container resources-container">
        <h1>Pre-Arrival Help & Guides</h1>
        <p class="subtitle">Quick remedies while you wait for responders.</p>

        <div class="guide-grid">
            
            <article class="info-card">
                <div class="card-header cpr">
                    <h2> Cardiopulmonary Resuscitation (CPR) Guidance </h2>
                </div>
                <div class="card-body">
                    <p><b></b>If someone is unconscious and not breathing normally, call 112 and start CPR straight away.<br>
                        When you call 112 for an ambulace, you should be given basic life-saving instructions over the phone, including advice about CPR.</b></p>
                        
                        <h2>CPR on Adults</h2><br>

    <p>If you have been trained in CPR, including rescue breaths, and feel confident using your skills, you should give chest compressions with rescue breaths.</p>
    <p>If you're not completely confident, attempt hands-only CPR instead.</p>

    <h2>Hands-Only CPR</h2><br>
        <p>To carry out a chest compression:</p>
        <ol>
            <li>Kneel next to the person and place the heel of your hand on the breastbone at the centre of their chest. Place the palm of your other hand on top of the hand that's on their chest and interlock your fingers. </li>
            <li>Position yourself so your shoulders are directly above your hands.</li>
            <li>Using your body weight (not just your arms), press straight down by 5 to 6cm (2 to 2.5 inches) on their chest.</li>
            <li>Keeping your hands on their chest, release the compression and allow their chest to return to its original position.</li>
            <li>Repeat these compressions at a rate of 100 to 120 times a minute until an ambulance arrives or for as long as you can.</li>
        </ol>

        <h2>CPR with Rescue Breaths</h2>
        <ol>
            <li>Place the heel of your hand on the centre of the person's chest, then place the palm of your other hand on top and press down by 5 to 6cm (2 to 2.5 inches) at a steady rate of 100 to 120 compressions a minute.</li>
            <li>After every 30 chest compressions, give 2 rescue breaths.</li>
            <li>Tilt the person's head gently and lift the chin up with 2 fingers. Pinch the person's nose. Seal your mouth over their mouth and blow steadily and firmly into their mouth for about 1 second. Check that their chest rises. Give 2 rescue breaths. </li>
            <li>Continue with cycles of 30 chest compressions and 2 rescue breaths until they begin to recover or emergency help arrives.</li>
        </ol>

    <h2>CPR on Children</h2><br>
    <p>You should carry out CPR with rescue breaths on a child. It's more likely children will have a problem with their airways and breathing than a problem with their heart.</p>
                    <ul>
                        <li>Check for breathing and pulse.</li>
                        <li>Place hands on center of chest.</li>
                        <li>Push hard and fast (100-120 bpm).</li>
                        <li>Continue until help arrives.</li>
                    </ul>
                      <h2>Children over 1 year</h2>
        <ol>
            <li>Open the child's airway by placing 1 hand on their forehead and gently tilting their head back and lifting the chin. Remove any visible obstructions from their mouth and nose.</li>
            <li>Pinch the child's nose. Seal your mouth over their mouth, and blow steadily and firmly into their mouth, checking that their chest rises. Give 5 initial rescue breaths.</li>
            <li>Place the heel of 1 hand on the centre of the child's chest and push down by 5cm (about 2 inches), which is approximately one-third of the chest diameter. Use 2 hands if you can't achieve a depth of 5cm using 1 hand. </li>
            <li>After every 30 chest compressions at a rate of 100 to 120 a minute, give 2 breaths.</li>
            <li>Continue with cycles of 30 chest compressions and 2 rescue breaths until the child begins to recover or emergency help arrives.</li>
        </ol>

        <h2>Infants under 1 year</h2>
        <ol>
            <li>Open the infant's airway by placing 1 hand on their forehead and gently tilting the head back and lifting their chin. Remove any visible obstructions from their mouth and nose.</li>
            <li>Place your mouth over the infant's mouth and nose and blow steadily and firmly into their mouth, checking that their chest rises. Give 5 initial rescue breaths.</li>
            <li>Place 2 fingers in the middle of the infant's chest and push down by 4cm (about 1.5 inches), which is approximately one-third of the chest diameter. Use the heel of 1 hand if you can't achieve a depth of 4cm using the tips of 2 fingers.</li>
            <li>After 30 chest compressions at a rate of 100 to 120 a minute, give 2 rescue breaths.</li>
            <li>Continue with cycles of 30 chest compressions and 2 rescue breaths until the infant begins to recover or emergency help arrives.</li>
        </ol>
                </div>
            </article>

            <article class="info-card">
                <div class="card-header bleeding">
                    <h2> Heavy Bleeding</h2>
                </div>
                <div class="card-body">
                    <P>If someone is bleeding heavily, the main aim is to prevent further blood loss and minimise the effects of shock.<br>
First, dial 112 and ask for an ambulance as soon as possible.<br>
If you have disposable gloves, use them to reduce the risk of any infection being passed on.<br>
Check that there's nothing embedded in the wound. If there is, take care not to press down on the object.<br>
Instead, press firmly on either side of the object and build up padding around it before bandaging to avoid putting pressure on the object itself.<br>
Do not try to remove it because it may be helping to slow down the bleeding.<br>
If nothing is embedded:</P>
                    <ul>
                        <li>Apply and maintain pressure to the wound with your gloved hand, using a clean pad or dressing if possible. Continue to apply pressure until the bleeding stops.</li>
                        <li>Use a clean dressing or any clean, soft material to bandage the wound firmly.</li>
                        <li>If bleeding continues through the pad, apply pressure to the wound until the bleeding stops, and then apply another pad over the top and bandage it in place. Do not remove the original pad or dressing, but continue to check that the bleeding has stopped.</li>
                    </ul>
                    <p>f a body part, such as a finger, has been severed, place it in a plastic bag or wrap it in cling film. Do not wash the severed limb.<br>
Wrap the package in soft fabric and place in a container of crushed ice. Do not let the limb touch the ice.<br>
Make sure the severed limb goes with the patient to hospital.<br>
Always seek medical help for bleeding, unless it's minor.</p>
                </div>
            </article>

            <article class="info-card">
                <div class="card-header burn">
                    <h2> Burns</h2>
                </div>
                <div class="card-body">
                    <p>If someone has a burn or scald:</p>
                    <ul>
                        <li>Cool the burn as quickly as possible with cool running water for at least 20 minutes, or until the pain is relieved.</li>
                        <li>Call 112 or seek medical help, if needed</li>
                        <li>While cooling the burn, and before the area begins to swell, carefully remove any clothing or jewellery, unless it's attached to the skin.</li>
                        <li>If you're cooling a large burnt area, particularly in babies, children and elderly people, be aware that it may cause hypothermia (it may be necessary to stop cooling the burn to avoid hypothermia).</li>
                        <li>If the burn has cooled, cover it loosely with cling film. If cling film isn't available, use a clean, dry dressing or non-fluffy material. Do not wrap the burn tightly as swelling may lead to further injury.</li>
                        <li>Do not apply creams, lotions or sprays to the burn.</li>
                    </ul>
                  
                </div>
            </article>
            
            <article class="info-card">
                <div class="card-header Poisoning">
                    <h2> Poisoning </h2>
                </div>
                <div class="card-body">
                   <p>Poisoning is potentially life threatening.

Common causes of poisoning include:</p>
<ul>
   <li>swallowing a toxic substance, such as bleach</li>
   <li>taking an overdose of a prescription medicine</li>
   <li>eating something, like wild plants and fungi</li>
   <li>Alcohol poisoning can cause similar symptoms.</li>
</ul>
<p>
If you think someone has swallowed a poisonous substance, call 112 to get immediate medical help and advice.
The effects of poisoning depend on the substance swallowed, but can include vomiting, loss of consciousness, pain or a burning sensation.<br>
The following advice is important:</p>
<ul> 
<li>Find out what's been swallowed so you can tell the paramedic or doctor.</li>
<li>Do not give the person anything to eat or drink unless a healthcare professional advises you to.</li>
<li>Do not try to cause vomiting.</li>
<li>Stay with the person, as their condition may get worse and they could become unconscious.</li>
<ul>
<p>If the person becomes unconscious while you're waiting for help to arrive, check for breathing and, if necessary, perform CPR.<br>
Do not perform mouth-to-mouth resuscitation if the persons mouth or airway is contaminated with the poison.<br>
Do not leave them if they're unconscious: they could vomit. The vomit could then enter their lungs and make them choke.<br>
If they do vomit naturally, try to collect some of it for the ambulance crew – this may help identify the cause of the poisoning.<br>
If the patient is conscious and breathing normally, put them into the recovery position and keep checking theyre breathing normally.</p>
                </div>
            </article>
               <article class="info-card">
                <div class="card-header stroke">
                    <h2> Stroke</h2>
                </div>
                <div class="card-body">
                   <p>
              The FAST guide is the most important thing to remember when dealing with people who have had a stroke.<br>
The earlier they receive treatment, the better. Call for emergency medical help straight away.<br>
If you think a person has had a stroke, use the FAST guide:</p>
<ul>
<li>Face – the face may have dropped on 1 side, the person may not be able to smile, or their mouth or eye may have drooped.</li>
<li>Arms – the person with suspected stroke may not be able to lift both arms and keep them there because of weakness or numbness in 1 arm.</li>
<li>Speech – their speech may be slurred or garbled, or the person may not be able to talk at all despite appearing to be awake.</li>
<li>Time – it's time to dial 112 immediately if you notice any of these signs or symptoms.</li>
</ul>
<p>
If a person had symptoms of a stroke but they do not have them now, you should still call 112 as it may have been a mini-stroke (also called a transient ischaemic attack or TIA).
</p>
                </div>
            </article>

             <article class="info-card">
                <div class="card-header Drowning">
                    <h2> Drowning</h2>
                </div>
                <div class="card-body">
                    <p>If someone is in difficulty in water, don't enter the water unless it's safe to do so. Don't put yourself at risk.<br>
Once the person is on land, you need to check if they're breathing.<br>
 Ask someone to call 112 for medical help.<br>
If they're not breathing, open the airway and give 5 initial rescue breaths before starting CPR.<br>
Find out how to give CPR, including rescue breaths.<br>
If the person is unconscious but still breathing, put them into the recovery position with their head lower than their body and call an ambulance immediately.<br>
Continue watching the patient to ensure they don't stop breathing and continue to breathe normally.</p>
                </div>
            </article>

             <article class="info-card">
                <div class="card-header heart attack">
                    <h2> Heart Attack</h2>
                </div>
                <div class="card-body">
                    <p>If you think someone is having or has had a heart attack, call 112 and then move them into a comfortable sitting position.<br>
                        Symptoms of a heart attack include:</p>
                    <ul>
                        <li>chest pain – the pain is usually located in the centre or left side of the chest and can feel like a sensation of pressure, tightness or squeezing</li>
                        <li>pain in other parts of the body – it can feel as if the pain is travelling from the chest down 1 or both arms, or into the jaw, neck, back or abdomen (tummy)</li>
                    </ul>
                    <p>Sit the person down and make them comfortable.
s
If they can, it's best for them to sit on the floor with their knees bent and their head and shoulders supported. If possible, place cushions behind them or under their knees.<br>
If they're conscious, reassure them and ask them to take a 300mg aspirin tablet to chew slowly, (unless you know they shouldn't take aspirin, for example if they are under 16 or they say they are allergic to it).<br>
If the person has any medication for angina, help them to take it.<br>
Monitor their vital signs, such as their breathing, until help arrives.
If the person deteriorates and becomes unconscious, open their airway, check their breathing and, if necessary, start CPR.<br>
Call 112 to tell them you think the person is now in cardiac arrest (their heart has stopped beating).</p>
                </div>
            </article>

             <article class="info-card">
                <div class="card-header shock">
                    <h2> Shock</h2>
                </div>
                <div class="card-body">
                    <p>In the case of a serious injury or illness, it's important to look out for signs of shock.<br>
Shock is a life-threatening condition that occurs when the circulatory system fails to provide enough oxygenated blood to the body and, as a result, deprives the vital organs of oxygen<br>
This is usually the result of severe blood loss, but it can also occur after severe burns, severe vomiting, a heart attack, a bacterial infection, or a severe allergic reaction (anaphylaxis).<br>
The type of shock described here isn't the same as the emotional response of feeling shocked, which can also occur after an accident.<br>
Signs of shock include:</p>
                    <ul>
                        <li>pale, cold, clammy skin</li>
                        <li>sweating</li>
                        <li>rapid, shallow breathing</li>
                        <li>weakness and dizziness</li>
                        <li>feeling sick and possibly vomiting</li>
                        <li>thirst</li>
                        <li>yawning</li>
                        <li>sighing</li>
                    </ul>
                    <p>Seek medical help immediately if you notice that someone has any of these signs of shock.<br>
You should:</p>
                        <ul>
                         <li>call 112 as soon as possible and ask for an ambulance</li>
                        <li>treat any obvious injuries</li>
                        <li>lie the person down if their injuries allow you to and, if possible, raise and support their legs</li>
                        <li>use a coat or blanket to keep them warm</li>
                        <li>do not give them anything to eat or drink</li>
                        <li>give them lots of comfort and reassurance</li>
                         <li>monitor the person – if they stop breathing, start CPR and call 112 to update them</li>
                        </ul>
                </div>
            </article>

        </div>


        <hr class="divider">

        <section class="non-emergency">
            <h2> Non-Emergency Contacts </h2>
            <ul class="contact-list">
                <li><strong>NEMA (National Emergency Management Agency):</strong> 0800 2255 6362</li>
                <li><strong> Nigeria Police Force Public Complaint Rapid Response Unit (PCRRU):</strong> 0805 700 0001</li>
                <li><strong>Federal Fire Service (FFS):</strong> 0803 200 3557</li>
            </ul>
        </section>

    </main>    
    {% endblock %}